<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/index.css" />
<div class="mt-3 d-flex justify-content-between" id="filteration">
  <div class="d-flex justify-content-start filter-container col-10">
    <div class="filter text-center">
      <i class="fa-solid fa-mountain-sun"></i>
      <p>Mountains</p>
    </div>
    <div class="filter text-center">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-dice"></i>
      <p>Play</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p>Beach</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-person-shelter"></i>
      <p>Rooms</p>
    </div>
    <div class="filter text-center">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pools</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-city"></i>
      <p>Iconic Cities</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-tractor"></i>
      <p>Farm</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-wine-glass"></i>
      <p>Vineyards</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-key"></i>
      <p>New</p>
    </div>
    <div class="filter text-center">
      <i class="fa-solid fa-dice"></i>
      <p>Play</p>
    </div>
  </div>
  <div class="form-check form-switch switch col-2">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckChecked"
      checked
    />
    <label class="form-check-label" for="flexSwitchCheckDefault">
      &nbsp; &nbsp; After Taxes</label
    >
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allListings){ %>
  <div class="col mb-4">
    <a href="/listings/<%= listing.id %>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-body">
          <p><b><%= listing.title %></b></p>
          <p class="location">
            <%= listing.location %>, <%= listing.country %>
          </p>
          <p class="price">
            <b>&dollar;<%= listing.price %>&nbsp;CAD</b>&nbsp;night
            <i class="tax-info">+ 13% tax</i>
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>

<script>
  const taxSwitch = document.getElementById("flexSwitchCheckChecked");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (tax of taxInfo) {
      if (tax.style.display != "none") {
        tax.style.display = "none";
      } else {
        tax.style.display = "inline";
      }
    }
  });
</script>
